<div class="stats-container">
  <div class="stat-card">
    <div class="stat-header">
      <div class="stat-icon">
        <fa-icon [icon]="faHeart"></fa-icon>
      </div>
      <p class="stat-value">12</p>
    </div>
    <h3>Ações Voluntárias</h3>
    <p class="stat-description">Participações em ações</p>
  </div>

  <div class="stat-card">
    <div class="stat-header">
      <div class="stat-icon">
        <fa-icon [icon]="faUsers"></fa-icon>
      </div>
      <p class="stat-value">3</p>
    </div>
    <h3>Organizações</h3>
    <p class="stat-description">Conexões ativas</p>
  </div>

  <div class="stat-card">
    <div class="stat-header">
      <div class="stat-icon">
        <fa-icon [icon]="faCalendar"></fa-icon>
      </div>
      <p class="stat-value">39</p>
    </div>
    <h3>Horas Doadas</h3>
    <p class="stat-description">Último mês</p>
  </div>

  <div class="stat-card">
    <div class="stat-header">
      <div class="stat-icon">
        <fa-icon [icon]="faChartLine"></fa-icon>
      </div>
      <p class="stat-value">85%</p>
    </div>
    <h3>Perfil</h3>
    <p class="stat-description">Completude</p>
  </div>
</div>
