<div class="login-container">
  <h1>Entrar</h1>
  <p>Use suas credenciais para acessar sua conta</p>
  <form (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>

    <label for="password">Senha</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
    <a href="#">Esqueceu a senha?</a>

    <button type="submit">Entrar</button>
  </form>
  <p>Não tem uma conta? <a href="/register">Cadastre-se</a></p>
</div>
