<div class="details-container">
  <div class="acoes">
    <button (click)="goBack()" class="back-button">
      <fa-icon class="voltar" [icon]="faArrowLeft"></fa-icon>
    </button>
    <h1>{{ action?.title }}</h1>
    <p class="organization">{{ action?.organization }}</p>
    <p class="date">Data: {{ action?.date }}</p>
  </div>

  <section>
    <h2>Sobre a Ação</h2>
    <p>{{ action?.description }}</p>
  </section>

  <section>
    <h2>O que você precisa saber</h2>
    <ul>
      <li>Levar chapéu, protetor solar e garrafa de água.</li>
      <li>Ferramentas serão fornecidas pela organização.</li>
    </ul>
  </section>

  <section>
    <h2>Localização</h2>
    <p>{{ action?.location }}</p>
  </section>

  <section>
    <h2>Entre em Contato</h2>
    <textarea placeholder="Escreva sua mensagem..."></textarea>
    <button>Enviar Mensagem</button>
  </section>
</div>
